body{
    background-size: cover;
    background-position: center;
}

a{
    font-size: 25px;
    margin: 20px;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}