#status{
    margin-top: 10px;
}



#back{
    background-color: black;
    float: right;
    font-size: 20px;
    color: white;
    padding: 5px;
    float: top;
}


#body{
    background-position: center;
    background-size: cover;
}

.btn-info{
    width: 100%;
    padding: 10px;
    margin-top: 0px;
}

canvas{
   border: 5px solid black;
   margin-top: 30px; 
}